/* Disclaimer */
.themeblvd-disclaimer {
	background: #f2f2f2;
	-moz-box-shadow: inset 5px 5px 5px #000;
	-webkit-box-shadow: 5px 5px 5px #000;
	box-shadow: inset 0 0 5px #cccccc;
	border: 1px solid #ffffff;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius: 4px;
	color: #777777;
	display: block;
	font-size: 12px;
	margin: 10px;
	padding: 10px;
}

/* Divider */
.themeblvd-divider {
	display: block;
	border-bottom: 1px dashed #cccccc;
	margin: 0 0 20px 0;
	padding: 20px 0 0 0; 
}

/* Textareas */
.customize-control-textarea textarea {
	line-height: 18px;
	margin: 0;
	width: 98%;
	height: 150px;
}
.customize-control-textarea textarea:focus {
	border-color: #bbbbbb;
	outline: none;	
}

/* Fonts */
.customize-section-typography .customize-control-select,
.customize-section-typography .customize-control-font_face,
.customize-section-typography .customize-control-color {
	padding: 0 10px;
}
#customize-section-typography .customize-section-content li:last-child .themeblvd-divider {
	display: none;
}
.themeblvd-google-font {
	background: #f5f5f5;
	border: 1px solid #dddddd;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display: block;
	margin-top: 10px;
	padding: 10px;
}


