/*
Theme Name: Alyeska

Adding support for language written in a Right To Left (RTL) direction is easy -
it's just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.

http://codex.wordpress.org/Right_to_Left_Language_Support

*/

/* =Framework
----------------------------------------------- */

.sf-menu li { float:right; }
.sf-menu li:hover ul, .sf-menu li.sfHover ul { left:inherit;right:0; }
ul.sf-menu li li:hover ul,ul.sf-menu li li.sfHover ul,ul.sf-menu li li li:hover ul,ul.sf-menu li li li.sfHover ul { left:inherit; right:10em; }
.sf-sub-indicator { right:inherit; left:.75em; }
.themeblvd-contact-bar li { float:right; }
.themeblvd-search input.search-input { float:right; }
.dropcap { float:right; margin:5px 0 0 7px; }
.tb-tabs .tab-nav ul li { float:right; }
.tb-tabs-framed .tab-nav ul li a, .tb-tabs-open .tab-nav ul li a { margin:0 0 0 2px; }
.element-tweet .tweet-icon { float:right;margin:0 0 0 30px; }
.themeblvd-search input[type="submit"] { float:left; margin:3px 0 0 5px; }
.element-slogan .has_button .tb-button { float:left; margin:0 20px 0 0; }
.tb-toggle a.toggle-trigger span { right:10px; left:inherit; }
.tb-button, input[type=submit] { margin: 5px 0 5px 10px; }
.themeblvd-mini-post-list ul li .wp-post-image { left:inherit;right:0; }
.themeblvd-mini-post-list ul.small-thumbs .mini-post-list-content { margin-left:0; margin-right:155px; }
.themeblvd-mini-post-list ul.smaller-thumbs .mini-post-list-content { margin-left:0; margin-right:95px; }
.themeblvd-mini-post-list ul.smallest-thumbs .mini-post-list-content { margin-left:0; margin-right:70px; }

/* =Global Elements and Typography
-------------------------------------------------------------- */

body {
	direction: rtl;
	unicode-bidi: embed;
}
caption, th, td {
	text-align: right;
}
ul, ol {
	margin: 0 2.5em 1.625em 0;
}
blockquote {
	border-left: 0;
	border-right: 3px solid #cccccc;
	padding-left: 0;
	padding-right: 1em;
}

/* =Content
----------------------------------------------- */

.tags {
	float: left;
	padding: 0 25px 0 0;		
}
.attachment-small {
	float: right;
	margin-right: 0;
	margin-left: 20px;
}
.pagination li {
	float: right;
	padding: 0 0 0 3px;
}

/* =Single Posts and Post List
----------------------------------------------- */

.single-post .entry-title,
.post_list .entry-title {
	padding: 0 0 0 30px;
}
.single-post .comment-bubble,
.post_list .comment-bubble {
	right: inherit;
	left: 20px;
}

/* =Comments
----------------------------------------------- */

#comments .comment-body {
	padding: 15px;
	padding-right: 83px;
}
#comments .comment-body .avatar {
	left: inherit;
	right: 15px;
}

/* Children */
#comments ul.children {
	border-left: none;
	border-right: 1px solid #e9e9e9;
	margin: 10px 15px 10px 0;
	padding: 10px 20px 10px 0;
}

/* =Header
-------------------------------------------------------------- */

#branding .header_logo {
	float: right;
}
#branding .header-addon {
	right: inherit;
	left: 35px;
}
#branding .themeblvd-contact-bar ul {
	float: left;
}
#branding .themeblvd-contact-bar li a { 
	margin-right: 0;
	margin-left: 1px;
}
#main-menu #search-trigger {
	right: 0;
	left: 3px;
}
#main-menu .search-popup .search-input {
	float: right;
	margin: 11px 0 0 15px;
	margin: 11px 15px 0 0;	
}
#main-menu .search-popup .submit {
	float: right;
}

/* =Widgets
----------------------------------------------- */

.fixed-sidebar .widget ul ul {
	margin-left: 0;
	margin-right: 1.5em;
}

/* =Footer
-------------------------------------------------------------- */

#footer_sub_content .copyright .text {
	float: right;
}
#footer_sub_content .copyright .menu {
	float: left;
}
#footer_sub_content .copyright .menu li {
	float: right;
}