/* =Framework
----------------------------------------------- */

.tb-warning { background-color: #f9f9ec; color: #333333; }
.tb-button, input[type=submit] { background-color: #4d4d4d; border-color: #000000; color: #f8f8f8; }
.tb-button:hover, input[type=submit]:hover { color: #ffffff; }
.themeblvd-search fieldset { border-color: #000000; }
.text-highlight { background-color: #ffffaa; color: #ffffff; }
.tb-toggle { border-color: #000000; }
.tb-toggle:last-of-type, .tb-toggle-last { border-bottom-color: #000000; }
.tb-toggle a.toggle-trigger:hover, .tb-toggle a.active { background: #2d2d2d; }
.tb-toggle a.active { border-bottom-color: #000000;}
.divider-dashed { border-top-color: #cccccc; }
.divider-solid { border-top-color: #cccccc; }
.standard-slider-wrapper .slides-wrapper { background-color: transparent; }
.carrousel-slider-wrapper .roundabout-nav a { background: url(../../../framework/frontend/assets/images/elements/arrows-large-ffffff.png) no-repeat; }
.tb-tabs-framed .tab-nav { border-bottom-color: #000000; }
.tb-tabs-framed .tab-nav ul li a { background: #2d2d2d; border-color: #000000; color: #cccccc; }
.tb-tabs-framed .tab-nav ul li a:hover { background: #555555; color: #cccccc; }
.tb-tabs-framed .tab-nav ul li.active a { background: #242424; border-bottom-color: #242424; color: #ffffff; }
.tb-tabs-framed .tab-content { background: #242424; border-color: #000000; color: #ffffff; }
.tb-tabs-open .tab-nav { background-image: none; }
.tb-tabs-open .tab-nav ul li a { color: #cccccc; }
.tb-tabs-open .tab-nav ul li a:hover { color: #ffffff; }
.tb-tabs-open .tab-nav ul li.active a { color: #ffffff; }
.element-tweet .tweet-icon { background-image: url(../../framework/frontend/assets/images/elements/tweet-light.png); }

/* =WordPress Core
-------------------------------------------------------------- */

.wp-caption {
    border: 1px solid #000000;
}

/* =Common Classes
----------------------------------------------- */

.tb-loader {
	background: #232323 url(../../images/layout/style/dark/loader.gif) center center no-repeat;
}

/* =General Typography and Box Layouts
----------------------------------------------- */

body {color: #f2f2f2;}
.header-shade {background-image: none;}
blockquote {border-left: 3px solid #000000;}
blockquote cite {color: #cccccc;}
pre {background: #505050;color: #ffffff; }
#bottom .header-shade {background-image: none;}
.entry-title, .entry-title a {color: #f2f2f2;}
.boxed-layout .boxed-inner, .boxed-layout .element-inner, .post_grid, article, #comments .comment-body, #respond {background-color: #313131;border-color: #1e1e1e;color: #f2f2f2;}
.default {background-color: #313131;background-image: linear-gradient(bottom, #272727 0%, #3C3C3C 100%);background-image: -o-linear-gradient(bottom, #272727 0%, #3C3C3C 100%);background-image: -moz-linear-gradient(bottom, #272727 0%, #3C3C3C 100%);background-image: -webkit-linear-gradient(bottom, #272727 0%, #3C3C3C 100%);background-image: -ms-linear-gradient(bottom, #272727 0%, #3C3C3C 100%);background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #272727), color-stop(1, #3C3C3C));border-color: #000000;color: #ffffff;text-shadow: 1px 1px 0 #000000;}
.default:hover {background-image: linear-gradient(bottom, #3C3C3C 0%, #272727 100%);background-image: -o-linear-gradient(bottom, #3C3C3C 0%, #272727 100%);background-image: -moz-linear-gradient(bottom, #3C3C3C 0%, #272727 100%);background-image: -webkit-linear-gradient(bottom, #3C3C3C 0%, #272727 100%);background-image: -ms-linear-gradient(bottom, #3C3C3C 0%, #272727 100%);background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3C3C3C), color-stop(1, #272727));color: #ffffff;}
.default span {border: 1px solid #515151;}
h1, h2, h3, h4, h5, h6 {color: #ffffff;text-shadow: 1px 1px 1px #000000; }
img.pretty, .featured-image, .standard-slider .slide .media-inner, #wrapper .gallery a img {background: #505050;border-color: #000000;-moz-box-shadow: 0 0 5px #1c1c1c;-webkit-box-shadow: 0 0 5px #1c1c1c;box-shadow: 0 0 5px #1c1c1c;}

/* =Content
----------------------------------------------- */

.pagination a, .pagination .current {border: 1px solid #000000;}
#main .pagination a {background: #303030;color: #cccccc;}
#main .pagination a:hover {background: #1d1d1d;color: #ffffff;}
.pagination .current {background: #1d1d1d;}
input, textarea, select {border: 1px solid #1d1d1d;color: #ffffff;}
input:focus, textarea:focus {border: 1px solid #000000;}
input[type=submit] {background-color: #303030;border: 1px solid #1d1d1d;color: #f2f2f2;}
input[type=submit]:hover {color: #f2f2f2;}
.entry-content th, .comment-content th {color: #ffffff;}
.entry-content td, .comment-content td {border-top: 1px solid #1d1d1d;}

/* =Post List and Single Posts
----------------------------------------------- */

.single-post .entry-title, .single-post .entry-title a, .post_list .entry-title, .post_list .entry-title a {color: #ffffff;}
.single-post .comment-bubble, .post_list .comment-bubble {background-image: url(../../images/comment.png); text-shadow: 1px 1px 0 #fafafa;}
.single-post .comment-bubble a, .post_list .comment-bubble a {color: #666666;}
.single-post .comment-bubble a:hover, .post_list .comment-bubble a:hover {color: #000000;}

/* =Comments
----------------------------------------------- */

#comments .comment-body .comment-meta a {color: #9e9e9e;}
#comments .comment-body .reply a {background-color: #4f4f4f;}
#comments .comment-body .reply a:hover {background: #6c6c6c;}
#comments ul.children {border-left: 1px solid #000000;}

/* =Header
-------------------------------------------------------------- */

#main-menu .search-popup {background-image: url(../../images/layout/style/dark/search-popup.png);}
#main-menu .search-popup form {background-image: url(../../images/layout/style/dark/search-popup-field.png);}
#main-menu .search-popup .submit {background-image: url(../../images/layout/style/dark/search-popup-submit.png);}

/* =Main
-------------------------------------------------------------- */

#main #breadcrumbs a {color: #cccccc;}
#main #breadcrumbs a:hover {color: #ffffff;}
#main #breadcrumbs .home-link {background-image: url(../../images/home-ffffff.png);}

/* =Widgets
----------------------------------------------- */

.sidebar_right .right-sidebar .fixed-sidebar-inner,
.double_sidebar_right .left-sidebar .fixed-sidebar-inner,
.double_sidebar .right-sidebar .fixed-sidebar-inner {
	background-image: url(../../images/layout/style/dark/sidebar-right.png);
}
.sidebar_right .right-sidebar .fixed-sidebar-inner:before,
.double_sidebar_right .left-sidebar .fixed-sidebar-inner:before,
.double_sidebar .right-sidebar .fixed-sidebar-inner:before {
	content: "";
	background-image: url(../../images/layout/style/dark/sidebar-right-top.png);
}
.sidebar_right .right-sidebar .fixed-sidebar-inner:after,
.double_sidebar_right .left-sidebar .fixed-sidebar-inner:after,
.double_sidebar .right-sidebar .fixed-sidebar-inner:after {
	content: "";
	background-image: url(../../images/layout/style/dark/sidebar-right-bottom.png);
}
.sidebar_left .left-sidebar .fixed-sidebar-inner,
.double_sidebar_left .right-sidebar .fixed-sidebar-inner,
.double_sidebar .left-sidebar .fixed-sidebar-inner {
	background-image: url(../../images/layout/style/dark/sidebar-left.png);
}
.sidebar_left .left-sidebar .fixed-sidebar-inner:before,
.double_sidebar_left .right-sidebar .fixed-sidebar-inner:before,
.double_sidebar .left-sidebar .fixed-sidebar-inner:before {
	content: "";
	background-image: url(../../images/layout/style/dark/sidebar-left-top.png);
}
.sidebar_left .left-sidebar .fixed-sidebar-inner:after,
.double_sidebar_left .right-sidebar .fixed-sidebar-inner:after,
.double_sidebar .left-sidebar .fixed-sidebar-inner:after{
	content: "";
	background-image: url(../../images/layout/style/dark/sidebar-left-bottom.png);
}
.fixed-sidebar .widget ul {border-top-color: #1e1e1e;}
.fixed-sidebar .widget ul li {border-bottom-color: #1e1e1e;}
.fixed-sidebar .widget ul li a:hover {background-color: #313131;color: #ffffff;}
.widget .themeblvd-search fieldset {background-color: #313131;}
.tb-contact_widget ul.simple-contact li {background-image:url(../../../framework/frontend/assets/images/parts/simple-contact-ffffff.png); }

/* =Footer
----------------------------------------------- */

#bottom .footer_content {background-color: #1f1f1f;border: 1px solid #343434;-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;-moz-box-shadow: inset 0 0 10px #000000;-webkit-box-shadow: inset 0 0 10px #000000;box-shadow: inset 0 0 10px #000000;}
#footer_sub_content .copyright .menu li a {color: #f2f2f2;}

/* =Slogan
----------------------------------------------- */

.element-slogan .slogan {color: #ffffff;text-shadow: 1px 1px 1px #313131;}
.element-slogan .element-inner-wrap {background-image: url(../../images/layout/style/dark/divider.png); background-size: 100%;}
.element-slogan .has_button .tb-button { text-shadow: none; }

/* =Builder
----------------------------------------------- */

.lead-link {color: #ffffff;}
.divider-dashed, .divider-solid { border-color: #000000; }
.tb-tabs-framed .tab-content, .tb-tabs-framed .tab-nav ul li.active a, .tb-tabs-open .tab-content { background-color: #242424; }
.tb-tabs-framed .tab-nav ul li.active a { border-bottom-color: #242424; } 
.tb-tabs-framed .tab-nav ul li a, .tb-tabs-framed .tab-content { border-color: #000000; }
.tb-tabs-open .tab-content { border-color: #000000; -moz-box-shadow: 0 0 5px #212121; -webkit-box-shadow: 0 0 5px #212121; box-shadow: 0 0 5px #212121; }
.standard-slider .tb-loader {background-color: #232323;-webkit-box-shadow: 0 1px 2px #000000;-moz-box-shadow: 0 1px 2px #000000;box-shadow: 0 1px 2px #000000;}
.standard-slider-wrapper .slides-wrapper {background-color: #313131; border-color: #1e1e1e;}
.standard-slider-wrapper .flex-control-nav li a { background-image: url(../../images/layout/style/dark/slideshow-dots.png);}
.standard-slider-wrapper .flex-prev, .standard-slider-wrapper .flex-next, .standard-slider-wrapper .flex-pause, .standard-slider-wrapper .flex-play {background-image: url(../../images/layout/style/dark/slideshow-arrows.png);}
.element-slider .carrousel-slider-wrapper .tb-loader {background-color: #232323;-webkit-box-shadow: 0 1px 2px #000000;-moz-box-shadow: 0 1px 2px #000000;box-shadow: 0 1px 2px #000000;}
.carrousel-slider-wrapper .roundabout-nav a.prev:hover, .carrousel-slider-wrapper .roundabout-nav a.next:hover { background-position-y:0; opacity: .7; }