/* =General Typography
----------------------------------------------- */

body {color: #666666;}
.header-shade {background: url(../../images/layout/style/light/text-gradient.png) repeat-x;} 
.boxed-layout .header-shade, .post_grid .header-shade, .article-wrap .header-shade, #content .element-slider-standard .header-shade, .element-content .header-shade, #content .element-post_grid_slider .header-shade, .element-post_list_slider .header-shade, #content .element-slogan .header-shade, .element-tweet .header-shade, #comments .comment-body .header-shade, #respond .header-shade, .tab-content .header-shade {background-image: url(../../images/layout/style/light/text-gradient-light.png);}
#bottom .header-shade {background-image: url(../../images/layout/style/light/text-gradient-footer.png);}
.entry-title, .entry-title a {color: #666666;}
.boxed-layout .boxed-inner, .boxed-layout .element-inner, .post_grid, article, #comments .comment-body, #respond {background-color: #ffffff;border-color: #e3e3e3;color: #666666;}
.default {background-color: #ffffff;background-image: linear-gradient(bottom, rgb(233,233,233) 00%, rgb(255,255,255) 100%);background-image: -o-linear-gradient(bottom, rgb(233,233,233) 00%, rgb(255,255,255) 100%);background-image: -moz-linear-gradient(bottom, rgb(233,233,233) 00%, rgb(255,255,255) 100%);background-image: -webkit-linear-gradient(bottom, rgb(233,233,233) 00%, rgb(255,255,255) 100%);background-image: -ms-linear-gradient(bottom, rgb(233,233,233) 00%, rgb(255,255,255) 100%);background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(233,233,233)),color-stop(1, rgb(255,255,255)));border-color: #ababab;color: #474747;text-shadow: 1px 1px 0 white;}
.default:hover {background-image: linear-gradient(bottom, rgb(255,255,255) 0%, rgb(233,233,233) 100%);background-image: -o-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(233,233,233) 100%);background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(233,233,233) 100%);background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(233,233,233) 100%);background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(233,233,233) 100%);background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(255,255,255)),color-stop(1, rgb(233,233,233)));color: #474747;}
.default span {border: 1px solid #ffffff;}
h1, h2, h3, h4, h5, h6 {color: #474747;text-shadow: 1px 1px 1px #ffffff;}
img.pretty, .featured-image, #wrapper .gallery a img {background: #ffffff;border-color: #dddddd;-moz-box-shadow: 0 1px 3px #aaa;-webkit-box-shadow: 0 1px 3px #aaa;box-shadow: 0 1px 3px #aaa;}

/* =Main Menu Search
----------------------------------------------- */

#main-menu .search-popup {background-image: url(../../images/layout/style/light/search-popup.png);}
#main-menu .search-popup form {background-image: url(../../images/layout/style/light/search-popup-field.png);}
#main-menu .search-popup .submit {background-image: url(../../images/layout/style/light/search-popup-submit.png);}

/* =Sidebars
----------------------------------------------- */

.sidebar_right .right-sidebar .fixed-sidebar-inner,
.double_sidebar_right .left-sidebar .fixed-sidebar-inner,
.double_sidebar .right-sidebar .fixed-sidebar-inner {
	background-image: url(../../images/layout/style/light/sidebar-right.png);
}
.sidebar_right .right-sidebar .fixed-sidebar-inner:before,
.double_sidebar_right .left-sidebar .fixed-sidebar-inner:before,
.double_sidebar .right-sidebar .fixed-sidebar-inner:before {
	content: "";
	background-image: url(../../images/layout/style/light/sidebar-right-top.png);
}
.sidebar_right .right-sidebar .fixed-sidebar-inner:after,
.double_sidebar_right .left-sidebar .fixed-sidebar-inner:after,
.double_sidebar .right-sidebar .fixed-sidebar-inner:after {
	content: "";
	background-image: url(../../images/layout/style/light/sidebar-right-bottom.png);
}
.sidebar_left .left-sidebar .fixed-sidebar-inner,
.double_sidebar_left .right-sidebar .fixed-sidebar-inner,
.double_sidebar .left-sidebar .fixed-sidebar-inner {
	background-image: url(../../images/layout/style/light/sidebar-left.png);
}
.sidebar_left .left-sidebar .fixed-sidebar-inner:before,
.double_sidebar_left .right-sidebar .fixed-sidebar-inner:before,
.double_sidebar .left-sidebar .fixed-sidebar-inner:before {
	content: "";
	background-image: url(../../images/layout/style/light/sidebar-left-top.png);
}
.sidebar_left .left-sidebar .fixed-sidebar-inner:after,
.double_sidebar_left .right-sidebar .fixed-sidebar-inner:after,
.double_sidebar .left-sidebar .fixed-sidebar-inner:after{
	content: "";
	background-image: url(../../images/layout/style/light/sidebar-left-bottom.png);
}
.fixed-sidebar .widget ul {border-top-color: #e3e3e3;}
.fixed-sidebar .widget ul li {border-bottom-color: #e3e3e3;}
.fixed-sidebar .widget ul li a:hover {background-color: #ffffff;}

/* =Slider
----------------------------------------------- */

.standard-slider-wrapper .slides-wrapper {background-color: #ffffff;border-color: #e3e3e3;}
.standard-slider-wrapper .flex-control-nav li a {background-image: url(../../images/layout/style/light/slideshow-dots.png);}
.standard-slider-wrapper .flex-prev, .standard-slider-wrapper .flex-next,  .standard-slider-wrapper .flex-pause, .standard-slider-wrapper .flex-play {background-image: url(../../images/layout/style/light/slideshow-arrows.png);}

/* =Slogan
----------------------------------------------- */
.element-slogan .slogan {color: #474747;text-shadow: 1px 1px 1px #ffffff;}
.element-slogan .element-inner-wrap {background-image: url(../../images/layout/style/light/divider.png); background-size: 100%;}
.element-slogan .has_button .tb-button { text-shadow: none; }

/* =Footer
----------------------------------------------- */

#bottom .footer_content {background-color: #e8e8e8;border: 1px solid #ffffff;-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;-moz-box-shadow: inset 0 0 10px #cdcdcd;-webkit-box-shadow: inset 0 0 10px #cdcdcd;box-shadow: inset 0 0 10px #cdcdcd;}
#footer_sub_content .copyright .menu li a {color: #666666;}

/* =Post List and Single Posts
----------------------------------------------- */

.single-post .comment-bubble,
.post_list .comment-bubble {background-image: url(../../images/comment.png);text-shadow: 1px 1px 0 #fafafa;}
.single-post .comment-bubble a,.post_list .comment-bubble a {color: #666666;}
.single-post .comment-bubble a:hover, .post_list .comment-bubble a:hover {color: #000000;}

/* =Comments
----------------------------------------------- */

#comments .comment-body .comment-meta a {color: #9e9e9e;}
#comments .comment-body .reply a {background-color: #f5f5f5;}
#comments .comment-body .reply a:hover {background: #eeeeee}
#comments ul.children {border-left: 1px solid #cccccc;}