/**
 * Styles for IE8 and below 
 */

/* Framework */
.last {
	*margin-right: -20px;  /* IE7 */
}
#main #content,
#main .fixed-sidebar {
	*margin-right: -1px; /* IE7 */
}
/* Fix responsive featured images at 100% width in IE8 */
.attachment-tb_medium img.wp-post-image,
.attachment-tb_large img.wp-post-image,
.attachment-grid_6 img.wp-post-image,
.attachment-grid_4 img.wp-post-image,
.attachment-grid_3 img.wp-post-image,
.attachment-grid_2 img.wp-post-image,
.attachment-grid_fifth_1 img.wp-post-image,
.type-attachment .attachment img {
	width: auto;
}
/* Fix small floated thumbnails in IE8 */
.attachment-small img.wp-post-image,
.attachment-tb_small img.wp-post-image,
.attachment-square_small img.wp-post-image,
.attachment-square_smaller img.wp-post-image,
.attachment-square_smallest img.wp-post-image {
	max-width: inherit;
}
/* Theme */
#featured,
#featured .featured-content,
.article-wrap,
.article-wrap article,
.fixed-sidebar .widget {
	*position: static; /* IE7 */
}
h1, h2, h3, h4, h5, h6 {
	position: static;
}
span.header-shade {
	display:none;
}
.article-wrap .comment-bubble {
	display:none;
}
/* Allow drop down menus from main navigation to appear over sliders in IE7 */
#container {
	*position: relative; /* IE7 */
	*z-index: 1; /* IE7 */
}
#container #top {
	*position: relative; /* IE7 */
	*z-index: 3; /* IE7 */
}
#container #featured {
	*position: relative; /* IE7 */
	*z-index: 2; /* IE7 */
}
