/* =Responsive Structure
------------------------------------------------- */

/* Optimized for Tablets */
@media (max-width: 960px) {	
	#main-menu #menu-inner .menu a { font-size: 9px; padding: 20px 7px 17px 7px; }
	#main-menu #menu-inner .menu li li a { padding: 8px; }
	#main-menu .menu ul { width: 175px; }
	.element-slogan .text_only .slogan-text { font-size: 25px; }
	#featured, #main, #featured_below, #bottom { font-size:11px; }
	/* Responsive visiblity classes */
	.hide_on_standard { display:block; }
	.hide_on_standard_and_tablet { display:none; }
	.hide_on_standard_and_tablet_and_mobile { display:none; }
	.hide_on_standard_and_mobile { display:block; }
	.hide_on_tablet { display:none; }
	.hide_on_tablet_and_mobile { display:none; }
	.hide_on_mobile { display:block; }
}

/* Optimized for Mobile Devices */
@media (max-width: 480px) {
	/* Primary Layout */
	#wrapper {padding:0;}
	#featured .featured-inner, #main .main-inner, #featured_below .featured_below-inner, #bottom #colophon {padding:10px 5px;margin:0;}
	#featured:before, #main:before, #featured_below:before, #bottom:before { content: "";display:none;}
	#featured:after, #main:after, #featured_below:after, #bottom:after { content: "";display:none;}
	.full_width #sidebar_layout #content { margin: 0; }
	.left-sidebar .fixed-sidebar-inner,.right-sidebar .fixed-sidebar-inner {background-image:none !important;padding-right: 15px !important;padding-left: 15px !important;}
	.left-sidebar .fixed-sidebar-inner:before, .right-sidebar .fixed-sidebar-inner:before, .left-sidebar .fixed-sidebar-inner:after, .right-sidebar .fixed-sidebar-inner:after {content:"" !important; display:none !important;}
	.tb-button span {display:block;}
	/* Grids */
	#main #content, #main .fixed-sidebar, .column { float:none; margin:0 0 10px 0; width:100%; }
	/* Header */
	.mobile_nav_select select {background:#ffffff;border:none;color:#000000;}
	#header_content, #access .container { padding:0; }
	#branding .header_logo {float:none;margin-bottom:10px;text-align:center;}
	#branding .header_logo .tb-image-logo img {display:inline;}
	#branding .header-addon {margin:0;position:static;}
	#branding .header-addon-with-text {margin:0;}
	#branding .header-text {text-align:center;}
	#branding .social-media {margin:0;position:static;text-align:center;}
	#branding .themeblvd-contact-bar ul {float:none;}
	#branding .themeblvd-contact-bar li {display:inline-block;float:none;}
	#menu-wrapper { padding:0 0 20px 0;text-align:center; }
	#main-top { display:none; }
	#main-menu { display:none; }
	#main-menu #menu-inner .menu a {font-size:11px;font-weight:bold;line-height:11px;padding:15px 20px;}
	.responsive-nav { display:block; }
	.tb-jump-menu { background:#ffffff;color: #333333; }
	/* Main */
	#breadcrumbs { display:none; }
	/* Footer */
	#footer_sub_content .copyright .text { display:block;float:none;line-height:140%;margin-bottom:15px;text-align:center; }
	#footer_sub_content .copyright .menu { float:none;text-align:center; }
	#footer_sub_content .copyright .menu li { display:inline-block;float:none;line-height:140%; }
	#after-footer { display:none; }
	/* General Elements */
	.last-element {padding-bottom:0;}
	/* Slider */
	.slider_has_mobile_fallback {display:none;}
	.slider-fallback {display:block;}
	.standard-slider-wrapper .flex-direction-nav { display:none; }
	.standard-slider .media-full .content { display:none; }
	.standard-slider .media-full .slide-title { display:none }
	.standard-slider .slide-description-text { display:none; }
	#featured .standard-slider .media-align-left .content-inner,
	#featured .standard-slider .media-align-right .content-inner,
	#content .standard-slider .media-align-left .content-inner,
	#content .standard-slider .media-align-right .content-inner,
	#featured_below .standard-slider .media-align-left .content-inner,
	#featured_below .standard-slider .media-align-right .content-inner  { padding:3px; }
	#featured .standard-slider .media-align-right .slide-title span, 
	#featured .standard-slider .media-align-left .slide-title span,
	#content .standard-slider .media-align-right .slide-title span, 
	#content .standard-slider .media-align-left .slide-title span,
	#featured_below .standard-slider .media-align-right .slide-title span, 
	#featured_below .standard-slider .media-align-left .slide-title span { font-size: 12px; }
	/* Slogan */
	.element-slogan .has_button .tb-button { display:block;float:none; margin:0 0 10px 0; text-align:center; }
	.element-slogan .slogan .slogan-text { display:block; text-align:center; }
	/* Tabs */
	.tb-tabs-open .tab-nav ul li.active a { background-image:none; }
	.tb-tabs .tab-nav ul li { float:none; }
	.tab-content .grid-protection { height:inherit !important; }
	.tb-tabs-framed .tab-nav { height:inherit; }
	.tb-tabs-framed .tab-nav ul li a { border-bottom:none; border-radius:inherit; margin:0; }
	/* Blog */
	.single-post .entry-title, .post_list .entry-title {font-size:15px;line-height:150%;}
	.single-post .attachment-medium .featured-image, .post_list .attachment-medium .featured-image {background-image:none;padding:0;}
	/* Post Grid */
	.post_grid .featured-image-wrapper {text-align:center;}
	.post_grid .featured-image-wrapper div {display:inline-block;}
	.post_grid .featured-image-wrapper div.themeblvd-video-wrapper {display:block;min-width:320px;}
	.post_grid .grid-row { margin-bottom: 0; }
	.post_grid article { margin-bottom: 20px; }
	/* Responsive visiblity classes */
	.hide_on_standard { display:block; }
	.hide_on_standard_and_tablet { display:block; }
	.hide_on_standard_and_tablet_and_mobile { display:none; }
	.hide_on_standard_and_mobile { display:none; }
	.hide_on_tablet { display:block; }
	.hide_on_tablet_and_mobile { display:none; }
	.hide_on_mobile { display:none; }
}