/**
 * Theme Styles
 *
 * This file includes all of the styles you might normally 
 * find in style.css. However, they're here instead so the 
 * theme's styles can be properly enqueued after all of the 
 * framework's styles. 
 * 
 * Because of this, it's important that if you're making CSS 
 * edits in a child theme, you need to enqueue your own custom 
 * stylesheet after all of the framework's and the theme's 
 * stylesheets. Simply putting your edits in child theme's 
 * style.css will not override the the default styles you see 
 * here because your child theme's style.css will come before.
 */

/* =Structure
----------------------------------------------- */

html {
	min-height: 100%;
}
#wrapper {
	min-height: 900px;
}

/* =Layout Boxes
-------------------------------------------------------------- */

.boxed-layout,
.post_grid,
.article-wrap,
.element-content,
.element-post_list_slider,
.element-tweet,
#comments .comment-body,
#respond {
	/* margin: 0 0 20px 0; Only applicable to non-element boxes, so moved below */
	padding: 0;
	position: relative;
}
.boxed-layout,
.post_grid,
.article-wrap,
#comments li,
#respond {
	margin: 0 0 20px 0;
}
.boxed-layout .boxed-inner,
.boxed-layout .element-inner,
.post_grid,
article,
#comments .comment-body,
#respond {
	border-style: solid;
	border-width: 1px;
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px; 
	border-radius: 6px;
	padding: 20px;
}
/* Boxes within Boxes fixes */
.boxed-layout .element,
.boxed-layout .post_grid,
.element-post_grid_slider .post_grid,
.element .element .post_grid {
	background: transparent;
	border: none;
	margin: 0;
	padding: 0;
}
.element-post_list_slider article {
	background: transparent;
	border: none;
}
.element-post_list_slider .element-inner {
	padding: 0;
}

/* =WordPress Core
-------------------------------------------------------------- */

.alignnone {
    margin: 5px 20px 20px 0;
}
.aligncenter, div.aligncenter {
    display:block;
    margin: 5px auto 5px auto;
}
.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}
.alignleft {
    float:left;
    margin: 5px 20px 20px 0;
}
.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
a img.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}
a img.alignnone {
    margin: 5px 20px 20px 0;
}
a img.alignleft {
    float:left;
    margin: 5px 20px 20px 0;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.wp-caption {
    border: 1px solid #d1d1d1;
    -moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius: 4px;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 4px;
    text-align: center;
}
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
.wp-caption img {
    border: 0 none;
    height: auto;
    margin:0;
    max-width: 98.5%;
    padding:0;
    width: auto;
}
.wp-caption p.wp-caption-text {
    font-size:11px;
    line-height: 17px;
    margin:0;
    padding:0 4px 5px;
}

/* =Common Classes
----------------------------------------------- */

.tb-loader {
	background: #ffffff url(../images/loader.gif) center center no-repeat;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius: 4px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
}

/* =Global Elements and Typography
-------------------------------------------------------------- */

body, input, textarea {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.625;
}
/* Headings */
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0 0 12px 0;
}
h1 {
	font-size: 32px;
	letter-spacing: 1px;
	line-height: 1.15em;
}
h2 {
	font-size: 23px;
	letter-spacing: 1px;
	line-height: 1.15em;
}
h3 {
	font-size: 1.5em;
	line-height: 1.15em;
}
h4 {
	font-size: 1.25em;
	line-height: 1.15em;
}
h5 {
	font-size: 1em;
	line-height: 1.6em;
}
h6 {
	font-size: .75em;
	line-height: 1.6em;
}
hr {
	background-color: #cccccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.625em;
}
/* Text elements */
a,
a:hover {
	text-decoration: none;
}
p {
	margin-bottom: 1.5em;
}
ul, ol {
	margin: 0 0 1.625em 2.5em;
}
ul {
	list-style: square;
}
ol {
	list-style-type: decimal;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
}
dl {
	/* margin: 0 1.625em; This screws up [gallery] */
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 1.625em;
}
strong {
	font-weight: bold;
}
cite, em, i {
	font-style: italic;
}
blockquote {
	border-left: 3px solid #cccccc;
	font-family: Georgia, "Bitstream Charter", serif;
	font-style: italic;
	font-weight: normal;
	margin: 0 2em;
	padding-left: 1em;
}
blockquote em, blockquote i, blockquote cite {
	font-style: normal;
}
blockquote cite {
	color: #666;
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
pre {
	background: #f4f4f4;
	font: 13px "Courier 10 Pitch", Courier, monospace;
	line-height: 1.5;
	margin-bottom: 1.625em;
	overflow: auto;
	padding: 0.75em 1.625em;
}
code, kbd {
	font: 13px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym, dfn {
	border-bottom: 1px dotted #666;
	cursor: help;
}
address {
	display: block;
	margin: 0 0 1.625em;
}
ins {
	background: #fff9c0;
	color: #777777;
	text-decoration: none;
}
sup,
sub {
	font-size: 10px;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1em;
}
sub {
	top: .5em;
}
/* Added just for Alyeska */
h1, h2, h3, h4, h5, h6 {
	position: relative; /* So header shades will display within headers */
}
span.header-shade {
	display: block;
	position: absolute;
    width: 100%;
    height: 100%;
    *display: none; /* IE7 FIX */
}
.tb-button {
	-moz-border-radius: 99px; 
	-webkit-border-radius: 99px; 
	border-radius: 99px;
	padding: 0;
}
.tb-button span {
	-moz-border-radius: 99px; 
	-webkit-border-radius: 99px; 
	border-radius: 99px;
	display: inline-block;
	padding: 10px 30px;
}
.tb-button-small {
	font-size: inherit;
	padding: 0;
}
.tb-button-small span {
	padding:8px 15px;
}
.tb-button-large {
	padding: 0;
}
.tb-button-large span {
	padding:15px 40px;
}

/* =Content
----------------------------------------------- */

article {
	overflow: hidden;	
}
.article-wrap h1 {
	letter-spacing: 0;
}
.entry-title {
	clear: both;
	margin: 0;
	padding: 0 0 10px 0;
}
.entry-title,
.entry-title a {
	text-decoration: none;
}
.sidebar-layout-top {
	padding: 0 10px;
}
.tags {
	background: url(../images/tags-d5d5d5.png) 0 center no-repeat;
	float: right;
	margin: 10px 0;
	padding: 0 0 0 25px;		
}
.tags a {
	color: inherit;
	padding: 1px 0;
}

/* Featured Image */
.featured-image-wrapper {
	margin-bottom: 10px;
}
.attachment-small {
	float: left;
	margin-right: 20px;
}
.featured-image-wrapper a {
	position: relative;
	display: block;
}
.featured-image-wrapper img {
	display: block;
}
.featured-image-wrapper .image-overlay {
	/* no styles needed in this theme - this wraps the following 2 */
}
.featured-image-wrapper .image-overlay .image-overlay-bg {
	background: #ffffff;
	cursor: pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}
.featured-image-wrapper .image-overlay .image-overlay-icon {
	background: url(../images/image-overlay-icon.png) no-repeat;
	cursor: pointer;
	margin: -21px 0 0 -22px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 44px;
	height: 42px;
	z-index: 2;
}
.featured-image-wrapper a.video .image-overlay .image-overlay-icon {
	background-position: 0 0;
}
.featured-image-wrapper a.thumbnail .image-overlay .image-overlay-icon,
.featured-image-wrapper a.image .image-overlay .image-overlay-icon {
	background-position: 0 -42px;
}
.featured-image-wrapper a.post .image-overlay .image-overlay-icon {
	background-position: 0 -84px;
}
.featured-image-wrapper a.external .image-overlay .image-overlay-icon {
	background-position: 0 -126px;
}
/* Pagination */
.pagination {
	overflow: hidden;
}
.pagination ul {
	list-style: none;
	margin: 0;
}
.pagination li {
	float: left;
	padding: 0 3px 0 0;
}
.pagination a,
.pagination .current {
	border: 1px solid #d1d1d1;
	display: block;
	line-height: 100%;
	padding: .5em .75em;
}
#main .pagination a,
#featured_below .pagination a {
	background: #ffffff;
	color: #666666;
}
#main .pagination a:hover,
#featured_below .pagination a:hover {
	background: #f4f4f4;
	color: #666666;
}
.pagination .current {
	background: #f4f4f4;
	font-weight: bold;
}
/* Forms */
input,
textarea,
select {
	border: 1px solid #d1d1d1;
	background: transparent;
	color: #9e9e9e;
	padding: 7px;
}
input {
	line-height: 100%;
}
input[type=text]{
	-webkit-appearance: none;
}
textarea {
	width: 98%;
}
input:focus,
textarea:focus {
	border: 1px solid #bbbbbb;
}
input[type=submit] {
	background-color: #f4f4f4;
	border: 1px solid #d1d1d1;
	color: #666666;
	font-weight: bold;
	margin: 0;
	padding: 8px 15px;
}
input[type=submit]:hover {
	color: #666666;
}

/* Tables */
.entry-content table,
.comment-content table {
	margin: 0 0 1.625em;
	width: 100%;
}
.entry-content th,
.comment-content th {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	text-transform: uppercase;
}
.entry-content td,
.comment-content td {
	border-top: 1px solid #ddd;
	padding: 6px 10px 6px 0;
}

/* Images */
img {
	max-width: 100%;
	height: auto;
}
img[class*="wp-image-"] {
	/* No styles needed */
}
img.size-full {
	max-width: 100%;	
	width: auto; /* Prevent stretching of full-size images in IE8 */
}
.entry-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
img.pretty,
.featured-image {
    border-width: 1px;
    border-style: solid;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
	max-width: 98.5%;
	padding: 4px;	
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 1.625em;
}
p img {
	margin-top: 0.4em;
}
#wrapper .gallery {
	margin: 0 auto 1.625em;
}
#wrapper .gallery .gallery-icon {
	padding: 10px;
}
#wrapper .gallery a img {
    border-width: 1px;
    border-style: solid;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
	max-width: 98.5%;
	padding: 4px;
	height: auto;
}
img#wpstats {
    display: block;
    margin: 0 auto 1.625em;
}
#content .gallery-columns-4 .gallery-item,
#featured_below .gallery-columns-4 .gallery-item {
	margin: 0 0 1.625em 0;
}

/* Password Protected Posts */
.post-password-required .entry-header .comments-link {
	margin: 1.625em 0 0;
}
.post-password-required input[type=password] {
	margin: 0.8125em 0;
}

/* =Single Posts and Post List
----------------------------------------------- */

.single-post .entry-header,
.post_list .entry-header {
	margin: 0 0 15px 0;
}
.single-post .entry-title, 
.single-post .entry-title a,
.post_list .entry-title, 
.post_list .entry-title a {
	color: #666666;
	font-size: 27px;
}
.single-post .entry-title,
.post_list .entry-title {
	margin: 0 0 5px 0;
	padding: 0 30px 0 0; /* 20px right padding for comment bubble */
}
.single-post .entry-title .header-shade,
.post_list .entry-title .header-shade {
	display: none;
}
.single-post .entry-meta,
.post_list .entry-meta {
	display: block;
	font-size: 11px;
	font-style: italic;
	margin: 0;
}
.single-post .comment-bubble,
.post_list .comment-bubble {
	background-repeat: no-repeat;
	font-weight: bold;
	line-height: 25px;
	position: absolute;
	top: 20px;
	right: 20px;
	width: 30px;
	height: 30px;
	text-align: center;
	text-decoration: none;
}
.single-post .pagination-wrap,
.post_list .pagination-wrap {
	padding: 0 10px 20px 10px;
}

/* =Post Grid
----------------------------------------------- */

.post_grid .grid-row {
	margin-bottom: 30px;
}
.post_grid .grid-row:last-of-type {
	margin-bottom: 0;
}
.post_grid .entry-title {
	font-size: 20px;
}
.post_grid .article-wrap {
	padding: 0;
}
.post_grid article {
	background: transparent;
	border: none;
	padding: 0;
}
.post_grid .entry-content {
	padding: 0 5px;
}
.post_grid .header-shade {
	display: none;
}
.post_grid .excerpt {
	font-size: .916em;
}

/* =Comments
----------------------------------------------- */

#comments li {
	margin: 5px 0;
}
#comments-title {
	padding: 0 10px;
}
#comments .commentlist {
	margin-bottom: 30px;
}
#comments .comment-body {
	padding: 15px;
	padding-left: 83px;
	position: relative;
}
#comments .comment-body .avatar {
	position: absolute;
	top: 15px;
	left: 15px;
}
#comments .comment-author {
	line-height: 100%;
}
#comments .comment-body .says {
	display: none;
}
#comments .comment-body .comment-meta {
	margin-bottom: 10px;
}
#comments .comment-body .comment-meta a {
	color: #9e9e9e;
	font-family: Georgia, serif;
	font-size: 11px;
	font-style: italic;
}
#comments .comment-body .fn {
	display: block;
	font-style: normal;
	font-weight: bold;
	margin-top: 5px;
}
#comments .comment-body p {
	margin-bottom: 30px;
}
#comments .comment-body .reply a {
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius: 4px;
	color: inherit;
	display: block;
	font-size: .8em;
	padding: 5px 9px;
	position: absolute;
	right: 10px;
	bottom: 10px;
}
#comments .comment-body .reply a:hover {
	background: #eeeeee;
}

/* Top Level */
#comments ol {
	list-style: none;
	margin: 0;
}

/* Children */
#comments ul.children {
	border-left: 1px solid #e9e9e9;
	list-style: none;
	margin: 10px 0 10px 15px;
	padding: 10px 0 10px 20px;
}

/* Comment Form */
#respond {
	margin-top: 5px;
}
.comment-form-wrapper {
	margin-bottom: 30px;
}
#reply-title {
	margin: 10px 0;
}
#commentform input {
	margin-right: 10px;
	width: 40%;
}
#commentform textarea {
	width: 98%;
}
#commentform .form-submit {
	margin: 10px 0;
}

/* =Header
-------------------------------------------------------------- */

#branding #header_content .container {
	padding: 20px 30px;
	position: relative;
}
#branding #access .content {
	background-image: none;
	margin-bottom: 0;
}
/* Logo */
#branding .header_logo {
	float: left;
}
#branding .header_logo .tb-image-logo img {
	display: block;
}
.header_logo .tb-text-logo {
	font-size: 2.8em;
	margin: 0;
	text-shadow: 1px 1px 1px #000;
}
.header_logo .tb-text-logo .header-shade {
	display: none;
}
.header_logo .tb-text-logo a {
	color: #ffffff;
}
.header_logo .tagline {
	color: #ffffff;
	font-style: italic;
	font-size: 1em;
	text-shadow: 1px 1px 1px #000;
}
.header_logo_title_tagline,
.header_logo_title,
.header_logo_custom {
	padding: 15px 10px;
}
/* Contact Buttons */
.themeblvd-contact-bar li a { 
	background-image:url(../../framework/frontend/assets/images/parts/social-media-dark.png);
}
#branding .header-addon {
	margin: -13px 0 0 0;
	position: absolute;
	top: 50%;
	right: 35px;
}
#branding .header-addon-with-text {
	margin-top: -25px;
}
#branding .themeblvd-contact-bar ul {
	float: right;
}
#branding .themeblvd-contact-bar li a { 
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
	margin-right: 1px;
}
#branding .themeblvd-contact-bar li a:hover {
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
#branding .header-text {
	color: #ffffff;
	line-height: 30px;
	text-align: right;
	text-shadow: 1px 1px 1px #000;
}
/* Primary Navigation */
#menu-wrapper {
	position: relative;
}
/* Menu Search */
#main-menu #search-trigger {
	background-repeat: no-repeat;
	display: block;
	position: absolute;
	top: 10px;
	right: 3px;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	z-index: 4;
}
#main-menu #search-trigger:hover {
	background-position: 0 -30px;
}
#main-menu #search-popup-wrapper {
	position: relative;
	height: 58px;
	z-index: 3;
}
#main-menu .search-popup-outer {
	display: none;
	position: absolute;
	width: 304px;
	height: 120px;
}
#main-menu .search-popup {
	background-repeat: no-repeat;
	width: 304px;
	height: 120px;
}
#main-menu .search-popup .search-popup-inner {
	padding: 23px 26px 29px 26px;
}
#main-menu .search-popup form {
	background-repeat: no-repeat;
	width: 252px;
	height: 35px;
}
#main-menu .search-popup .search-input {
	background-color: transparent;
	border: none;
	display: block;
	float: left;
	font-size: 11px;
	line-height: 100%;
	outline: 0;
	margin: 11px 0 0 15px;
	padding: 0;
	width: 205px;	
}
#main-menu .search-popup .submit {
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
	float: left;
    outline: none;
    margin: 10px 0 0 0;
	padding: 0;
    width: 16px !important;
    height: 17px;
    text-indent: -9999px;
}

/* =Featured
-------------------------------------------------------------- */

#featured .featured-inner {
	padding-top: 20px;
}
.featured-content {
	overflow: hidden;
}
	
/* =Main
-------------------------------------------------------------- */

#main #content {
	padding-top: 15px;
}
#featured_below .featured_below-inner {
	overflow: hidden;
}
#featured_below .featured_below-content {
	margin: 0 1%;
	width: 98%;
}

/* Breadcrumbs */
#main #breadcrumbs {
	/* background: url(../images/shadow.png) 0 bottom repeat-x; */
	margin: 0;
	padding: 5px 0 0 0;
	width: inherit; /* Override framework grid */
}
#main #breadcrumbs .breadcrumbs-content {
	padding: 5px 10px 0 10px;
}
#main #breadcrumbs a {
	color: #999999;
	margin: 0 4px;
	padding: 1px 0;
}
#main #breadcrumbs .current {
	padding: 0 4px;
}
#main #breadcrumbs .home-link {
	background-image: url(../images/home-666666.png);
	background-position: center center;
	background-repeat: no-repeat;
	border: none;
	display: inline-block;
	line-height: 100%;
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
	text-indent: -9999px;
	width: 10px;
}
#main #breadcrumbs .home-link:hover {
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

/* =Widgets
----------------------------------------------- */

.widget {
	clear: both;
	margin: 0 0 .75em 0;
}
/* Lists */
.widget ul {
	list-style: none;
	margin: 0;
}
/* Links */
.widget a {
	text-decoration: none;
}

/* Fixed Sidebar */
.fixed-sidebar .widget {
	margin: 0 0 20px 0;
}
.fixed-sidebar .widget .widget-inner {
	
}
.fixed-sidebar .widget-title {
	font-size: 23px;
	margin-top: 0;
	margin-bottom: 12px;
}
.fixed-sidebar .widget ul {
	border-top: 1px solid #e3e3e3;
	border-top-color: #e3e3e3;
}
.fixed-sidebar .widget ul ul {
	border-top: 0;
	margin-left: 1.5em;
}
.fixed-sidebar .widget ul li {
	border-bottom: 1px solid #e3e3e3;
	border-bottom-color: #e3e3e3;
}
.fixed-sidebar .widget ul li li {
	border-bottom: none;
}
.fixed-sidebar .widget ul li a {
	color: inherit;
	display: block;
	font-weight: normal;
	font-family: inherit;
	font-style: normal;
	padding: 7px 5px;
}
.fixed-sidebar .widget ul li a:hover {
	background-color: #ffffff;
}
.sidebar_right .right-sidebar .fixed-sidebar-inner,
.double_sidebar_right .left-sidebar .fixed-sidebar-inner,
.double_sidebar .right-sidebar .fixed-sidebar-inner {
	background: url(../images/layout/style/light/sidebar-right.png) 0 0 repeat-y;
	padding: 30px 0 10px 20px;
	position: relative;
}
.sidebar_right .right-sidebar .fixed-sidebar-inner:before,
.double_sidebar_right .left-sidebar .fixed-sidebar-inner:before,
.double_sidebar .right-sidebar .fixed-sidebar-inner:before {
	content: "";
	background: url(../images/layout/style/light/sidebar-right-top.png);
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 9px;
	height: 60px;
}
.sidebar_right .right-sidebar .fixed-sidebar-inner:after,
.double_sidebar_right .left-sidebar .fixed-sidebar-inner:after,
.double_sidebar .right-sidebar .fixed-sidebar-inner:after {
	content: "";
	background: url(../images/layout/style/light/sidebar-right-bottom.png);
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 9px;
	height: 60px;
}
.sidebar_left .left-sidebar .fixed-sidebar-inner,
.double_sidebar_left .right-sidebar .fixed-sidebar-inner,
.double_sidebar .left-sidebar .fixed-sidebar-inner {
	background: url(../images/layout/style/light/sidebar-left.png) right 0 repeat-y;
	padding: 30px 20px 10px 0;
	position: relative;
}
.sidebar_left .left-sidebar .fixed-sidebar-inner:before,
.double_sidebar_left .right-sidebar .fixed-sidebar-inner:before,
.double_sidebar .left-sidebar .fixed-sidebar-inner:before {
	content: "";
	background: url(../images/layout/style/light/sidebar-left-top.png);
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 9px;
	height: 60px;
}
.sidebar_left .left-sidebar .fixed-sidebar-inner:after,
.double_sidebar_left .right-sidebar .fixed-sidebar-inner:after,
.double_sidebar .left-sidebar .fixed-sidebar-inner:after{
	content: "";
	background: url(../images/layout/style/light/sidebar-left-bottom.png);
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 9px;
	height: 60px;
}
.double_sidebar_right .right-sidebar .fixed-sidebar-inner, 
.double_sidebar_left .left-sidebar .fixed-sidebar-inner {
	padding: 30px 0 10px 0;
}
/* Collapsible Widget Areas */
.widget-area-collapsible {
	padding: 10px;
}
#branding .widget-area-collapsible {
	padding: 0;
}
.main-top .widget-area-collapsible {
	padding-bottom: 20px;
}
.main-bottom {
	clear: both;
}
.main-bottom .widget-area-collapsible {
	padding-top: 20px;
}
.widget-area-collapsible .widget {
	margin-bottom: 0;
	padding: 10px 5px;
}
.widget-area-collapsible .widget {
	text-align: center;
}
.widget-area-collapsible img.alignleft, 
.widget-area-collapsible img.alignright,
.widget-area-collapsible img.aligncenter {
	margin-top: 0;
	margin-bottom: 0;
}
.footer-below .widget-area-collapsible .widget {
	margin-bottom: 10px;
}
/* Header-Specific Collapsible Widget Areas */
#ad_header .widget-area-collapsible .widget {
	margin-bottom: 0;
	padding: 0;
	text-align: right;
}
/* Column Widget Area */
.column .widget {
	margin: 0 0 2em 0;
}
/* Twitter Widget */
.widget ul.tweets {
	border-top: none;
}
.widget ul.tweets li.tweet {
	border-bottom: none;
	margin: 0 0 20px 0;
}
.widget ul.tweets li.tweet .tweet-text a {
	border: none;
	display: inline;
	padding: inherit;
	font-family: Georgia, serif;
	font-style: italic;
	font-weight: bold;
	text-decoration: none;
}
.widget ul.tweets li.tweet .tweet-text a:hover {
	background-color: inherit;
}
.widget ul.tweets li .tweet-time {
	font-size: .9em;
	margin-top: 3px;
}
.widget ul.tweets li .tweet-time a {
	border: none;
	display: inline;
	padding: inherit;
}
.widget ul.tweets li .tweet-time a:after {
	content: " \2192";
}
/* Search */
.widget .themeblvd-search fieldset {
	background-color: #ffffff;
}
/* Simple Contact */
.fixed-sidebar .widget ul.simple-contact,
.fixed-sidebar .widget ul.simple-contact li {
	border:none;
}
.fixed-sidebar .widget ul.simple-contact li a {
	color: inherit;
	display: inline;
	padding: 0;
}
.fixed-sidebar .widget ul.simple-contact li a:hover {
	background-color: transparent;
	text-decoration: underline;
}
/* Mini Post Grid */
.fixed-sidebar .widget .themeblvd-mini-post-grid ul {
	border-top: none;
}
.fixed-sidebar .widget .themeblvd-mini-post-grid ul li a {
	padding: 0;
}
/* Mini Post List */
.fixed-sidebar .widget .themeblvd-mini-post-list ul {
	border-top: none;
}
.fixed-sidebar .widget .themeblvd-mini-post-list ul li {
	border-bottom: none;
}
.fixed-sidebar .widget .themeblvd-mini-post-list ul li a {
	padding: 0;
}
.fixed-sidebar .widget .themeblvd-mini-post-list ul li a:hover {
	background-color: transparent;
}
.fixed-sidebar .widget .themeblvd-mini-post-list .mini-post-list-content h4 {
	font-size: 1.4em; /* slightly larger */
}

/* =Footer
-------------------------------------------------------------- */

/* Primary Footer Content */
#bottom .footer_content {
	background-position: -960px 0;
	background-repeat: repeat-y;
	position: relative;
}
#bottom .footer_content .container {
	padding: 30px; 
}
/* Copyright */
#footer_sub_content {
	font-size: .9em;
}
#footer_sub_content p {
	margin: 0;
}
#footer_sub_content .copyright {
	font-size: 11px;
	line-height: 100%;
	padding: 25px 15px 25px 15px;
}
#footer_sub_content .copyright .text {
	float: left;
}
#footer_sub_content .copyright .menu {
	float: right;
}
#footer_sub_content .copyright .menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#footer_sub_content .copyright .menu li {
	float: left;
	padding: 0 5px;
}

/* =Plugins
----------------------------------------------- */

/* Contact Form 7 */
div.wpcf7 input,
div.wpcf7 select {
	margin-right: 10px;
	width: 40%;
}
div.wpcf7 .wpcf7-list-item {
	display: block;
}
div.wpcf7 .wpcf7-list-item input {
	width:auto;
}
div.wpcf7 textarea {
	width: 98%;
}
.widget div.wpcf7 input,
.widget div.wpcf7 select { 
	width: inherit;
}

/* prettyPhoto */
div.pp_default .pp_description {
	color: #666666;
}

/* =Builder
----------------------------------------------- */

#featured .manual-gutters .element-inner,
#main .manual-gutters .element-inner,
#featured_below .manual-gutters .element-inner {
	padding-left: 20px;
	padding-right: 20px;
}
.lead-link {
	font-weight: bold;
	color: #666666;
	margin-top: 10px;
}

/* Slogan */
.element-slogan .slogan {
	line-height: 160%;
}
.element-slogan .element-inner-wrap {
	background-position: center bottom;
	background-repeat: no-repeat;
	margin-bottom: 5px;
	padding-bottom: 20px;
}
.element-slogan .text_only .slogan-text {
	font-size: 32px;
}
.element-slogan .has_button .slogan-text {
	font-size: 25px;
}
/* Headline */
#main .element-headline,
#featured_below .element-headline {
	padding: 0 25px 10px 25px;
}
#featured .element-headline {
	padding: 20px 25px 10px 25px;
}
.element-headline h1,
.element-headline h2,
.element-headline h3,
.element-headline h4,
.element-headline h5,
.element-headline h6 {
	margin: 0;
}
.element-headline p {
	margin: 5px 0 0 0;
}

/* Divider */
.divider-dashed, 
.divider-solid, 
.divider-shadow {
	margin-bottom: 20px; /* Minus 10px from the framework's 30px bottom margin for this design */
}
.divider-dashed, 
.divider-solid {
	border-color: #d1d1d1;
}

/* Tabs */
.tb-tabs-framed .tab-content,
.tb-tabs-framed .tab-nav ul li.active a,
.tb-tabs-open .tab-content {
	background-color: #ffffff;
}
.tb-tabs-framed .tab-nav ul li.active a {
	border-bottom-color: #ffffff;
}
.tb-tabs-framed .tab-nav ul li a,
.tb-tabs-framed .tab-content {
	border-color: #d1d1d1;
}
.tb-tabs-open .tab-content {
	border: 1px solid #d1d1d1;
}
.tb-tabs-open .tab-nav {
	margin-bottom: -1px;
}
.tb-tabs-open .tab-nav ul li a {
	font-weight: bold;
}

/* All Sliders */
.element-slider .media {
	position: relative;
}
.element-slider .slide .image-link {
	background: url(../images/slider-icons.png) 0 0 no-repeat;
	display: block;
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
	position: absolute;
	top: 10px;
	right: inherit;
	bottom: inherit;
	left: 10px;
	text-indent: -9999px;
	width: 24px;
	height: 24px;
}
.element-slider .slide .image-link:hover {
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
.element-slider .slide .enlarge {
	background-position: -24px 0;
}
.element-slider .slide a[rel="themeblvd_lightbox"] span.enlarge {
	display: none; /* Override framework default actionf or lightbox images */
}

/* Standard Sliders */
.standard-slider .tb-loader {
	background-color: #ffffff;
    -moz-border-radius: 99px; 
	-webkit-border-radius: 99px; 
	border-radius: 99px;
    -webkit-box-shadow: 0 1px 2px #bbb;
	-moz-box-shadow: 0 1px 2px #bbb;
	box-shadow: 0 1px 2px #bbb;
    display: block;
    top: 10px;
    left: 50%;
    margin-left: -25px;
    width: 50px;
    height: 50px;
}
.standard-slider-wrapper .slides-wrapper {
	border-style: solid;
	border-width: 1px;
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px; 
	border-radius: 6px;
	padding: 9px 9px 39px 9px;
}
.standard-slider-wrapper .hide-full_nav .slides-wrapper {
	padding: 9px;
}
.standard-slider-wrapper .slides-wrapper {
	min-height: 50px;
}
.standard-slider .slide .slide-body {
	overflow: hidden;
}
.standard-slider .slide .media-inner {
	background: #ffffff;
    border: 1px solid #dddddd;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
	padding: 4px;	
}
.standard-slider .slide .slide-body {
	padding: 10px;
}
.standard-slider .media-full .slide-body {
	padding: 0;
}
.standard-slider .media-full .media-inner {
	border: none;
	padding: 0;
}
.sidebar_right .element-slider-standard .themeblvd-video-wrapper,
.sidebar_left .element-slider-standard .themeblvd-video-wrapper { /* Limit height on primary area slider */
	max-height: 230px; 
}
.double_sidebar .element-slider-stanard .themeblvd-video-wrapper { /* Limit height on primary area slider */
	max-height: 215px; 
}
.double_sidebar_left .element-slider-standard .themeblvd-video-wrapper,
.double_sidebar_right .element-slider-standard .themeblvd-video-wrapper { /* Limit height on primary area slider */
	max-height: 163px; 
}
.standard-slider .media-full img {
	display: block;
}
.standard-slider .media-full .content {
	background: #333333;
	color: #ffffff;
	left: 10px;
	bottom: 10px;
	max-width: 75%;
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
.standard-slider .media-full .content .content-inner {
	padding: 1.8em;
}
.standard-slider .media-full .slide-title {
	font-size: 1.85em;
	line-height: 1.1em;
	margin-bottom: 10px;
}
.standard-slider .media-align-left .slide-title span, 
.standard-slider .media-align-right .slide-title span {
	font-weight: normal;
}
.standard-slider .media-full .tb-button {
	background: transparent;
	border: none;
	color: #ffffff;
	margin: 5px 0 0 0;
	padding: 0;
	text-shadow: 0 0 0 #ffffff;
}
.standard-slider .media-full .tb-button span {
	border: none;
	padding: 0;
}
.standard-slider .media-full .tb-button:after {
	content: "\2192";
	margin-left: 5px;
}
.standard-slider .media-full p {
	margin-bottom: 5px;
}
.standard-slider .media-align-left .content-inner, 
.standard-slider .media-align-right .content-inner {
	padding-top: 0;
	padding-bottom: 0;
}
.standard-slider .media-align-left .tb-button span,
.standard-slider .media-align-right .tb-button span {
	padding: 7px 15px;
}
.sidebar_right .standard-slider .tb-button, 
.sidebar_left .standard-slider .tb-button, 
.double_sidebar_right .standard-slider .tb-button, 
.double_sidebar_left .standard-slider .tb-button, 
.double_sidebar .standard-slider .tb-button {
	padding: 0;
}
/* Slider Navigation */
.standard-slider-wrapper .flex-control-nav li {
	padding: 1px;
}
.standard-slider-wrapper .flex-control-nav li a {
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 12px;
	height: 12px;
}
.standard-slider-wrapper .flex-control-nav li a:hover,
.standard-slider-wrapper .flex-control-nav li a.flex-active {
	background-position: -12px 0;
}
.standard-slider-wrapper .flex-direction-nav li {
	padding: 0;
}
.standard-slider-wrapper .flex-direction-nav li a {
	margin: 0 1px;
}
.standard-slider-wrapper .flex-prev, 
.standard-slider-wrapper .flex-next, 
.standard-slider-wrapper .flex-pause, 
.standard-slider-wrapper .flex-play {
	width: 22px;
	height: 22px;
}
.standard-slider-wrapper .flex-prev {
	background-position: 0 0;
}
.standard-slider-wrapper .flex-prev:hover {
	background-position: 0 -22px;
}
.standard-slider-wrapper .flex-next {
	background-position: -22px 0;
}
.standard-slider-wrapper .flex-next:hover {
	background-position: -22px -22px;
}
.standard-slider-wrapper .flex-play {
	background-position: 0 -44px;
}
.standard-slider-wrapper .flex-play:hover {
	background-position: 0 -66px;
}
.standard-slider-wrapper .flex-pause {
	background-position: -22px -44px;
}
.standard-slider-wrapper .flex-pause:hover {
	background-position: -22px -66px;
}
.standard-slider-wrapper .flex-control-nav {
	left: 15px;
}
.standard-slider-wrapper .flex-direction-nav {
	right: 15px;
	bottom: 19px;
}

/* Featured Standard Slider */
#featured .standard-slider-wrapper .themeblvd-video-wrapper,
#featured .standard-slider-wrapper .themeblvd-video-wrapper {
	max-height: 312px;
}
#featured .standard-slider .media-full .themeblvd-video-wrapper {
	max-height: 342px;
}

/* Minor changes on different sidebar layotus for standard slider */
.sidebar_right .standard-slider .media-align-left .slide-title span,
.sidebar_left .standard-slider .media-align-left .slide-title span,
.double_sidebar_right .standard-slider .media-align-left .slide-title span,
.double_sidebar_left .standard-slider .media-align-left .slide-title span,
.double_sidebar .standard-slider .media-align-left .slide-title span,
.sidebar_right .standard-slider .media-align-right .slide-title span,
.sidebar_left .standard-slider .media-align-right .slide-title span,
.double_sidebar_right .standard-slider .media-align-right .slide-title span,
.double_sidebar_left .standard-slider .media-align-right .slide-title span,
.double_sidebar .standard-slider .media-align-right .slide-title span {
	font-size: 1.75em;
}

/* Carosoul Slider */
.element-slider .carrousel-slider-wrapper .tb-loader {
	-moz-border-radius: 99px; 
	-webkit-border-radius: 99px; 
	border-radius: 99px;
	-webkit-box-shadow: 0 1px 2px #bbb;
	-moz-box-shadow: 0 1px 2px #bbb;
	box-shadow: 0 1px 2px #bbb;
	margin: -25px -25px 0 0;
	top: 50%;
	right: 50%;
	bottom: inherit;
	left: inherit;
	width: 50px;
	height: 50px;
	z-index: 999;
}
.element-slider .carrousel-slider-wrapper .slide .image-link {
	left: 5px;
    top: 5px;
}
.element-slider .carrousel-slider-wrapper .slide .external span {
	text-indent: -9999px;
}

/* Post Grid Slider */
.element-post_grid_slider .slide .post_grid .excerpt,
.element-post_grid_slider .slide .post_grid .read-more-link {
	display: none;
}

/* Post List Slider */ 
.slide .post_list {
	padding: 20px;
}

/* =WPML Bridge
----------------------------------------------- */

.tb-wpml-flaglist ul {
	margin: 0;
	padding: 0;
}
.tb-wpml-flaglist ul li {
	float: left;
	list-style: none;
	padding: 0 2px;
}
/* Social media addon */
.header-addon-with-wpml .social-media {
	float: right;
}
.header-addon-with-wpml .tb-wpml-flaglist {
	background: #f2f2f2;
	border: 1px solid #ffffff;
	float: right;
	margin: 2px 5px;
	padding: 0 5px;
}
.header-addon-with-wpml .tb-wpml-flaglist li {
	line-height: 100%;
	padding: 5px 2px;
}
.header-addon-with-wpml .tb-wpml-flaglist li img {
	display: block;
}
.header-addon-with-wpml .header-text {
	clear: both;
}
@media (max-width: 480px) {
	.header-addon-with-wpml .social-media {
		float: none;
	}
	.header-addon-with-wpml .tb-wpml-flaglist {
		float: none;
		margin-right: 0;
		margin: 5px 0 0 0;
		text-align: center;
	}
	.header-addon-with-wpml .tb-wpml-flaglist li {
		display: inline-block;
		float: none;
	}
	.header-addon-with-wpml .tb-wpml-flaglist li img {
		display: inline;
	}
}
/* Header menu addon */
#wrapper #main-menu .tb-wpml-flaglist {
	background: #f2f2f2;
	border: 1px solid #ffffff;
	float: right;
	margin: 12px 40px 0 0;
	padding: 4px 5px;
	position: relative;
	z-index: 999;
}
#wrapper #main-menu  .tb-wpml-flaglist li {
	background: none;
	border: none;
	padding: 2px;
}
#wrapper #main-menu  .tb-wpml-flaglist li a {
    background: none;
    line-height: 100%;
    padding: 0;
}
#wrapper #main-menu  .tb-wpml-flaglist li img {
	display: block;
}
/* Breadcrumbs */
#breadcrumbs .tb-wpml-breadcrumbs .breadcrumbs-content {
	float: left;
}
#breadcrumbs .tb-wpml-breadcrumbs .tb-wpml-flaglist {
	float: right;
	margin-right: 10px;
}
#main #breadcrumbs .tb-wpml-breadcrumbs .tb-wpml-flaglist a {
	border-bottom: none;
	margin: 0 1px;
}
@media (max-width: 480px) {
	#breadcrumbs .tb-wpml-breadcrumbs .breadcrumbs-content,
	#breadcrumbs .tb-wpml-breadcrumbs .tb-wpml-flaglist {
		float: none;
	}
	#breadcrumbs .tb-wpml-breadcrumbs .tb-wpml-flaglist {
		margin-top: 5px;
	}
}

/* =Print
----------------------------------------------- */

@media print {
	#wrapper #top,
	#wrapper #featured,
	#wrapper #main, 
	#wrapper #featured_below {
		color: #000000 !important;
		text-shadow: 0 0 0 #fff !important;
	}
	.themeblvd-contact-bar,
	#access,
	#breadcrumbs,
	#bottom {
		display: none;
	}
	#content {
		float: none !important;
		margin-right: 0 !important;
		margin-left: 0 !important;
		width: auto !important;
	}
	#main .fixed-sidebar {
		display: none;
	}
}